@{
    var model = Model.ToString();
    var modelString = (string)model.Substring(model.LastIndexOf(".")+1);
    var classeMenuPrincipal = modelString == "Index" ? "active" : "";
    var classeMenuAdministrator = modelString == "Administrator" ? "active" : "";
    var classeMenuEmployer = modelString == "Employer" ? "active" : "";
    var classeMenuEmployee = modelString == "Employee" ? "active" : "";
    var classeMenuPontoBlock = modelString == "PontoBlock" ? "active" : "";
    var classeMenuPontoBlockReports = modelString == "PontoBlockReports" ? "active" : "";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container container-fluid">
        <a class="navbar-brand" href="/">WorkBlockApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <div class="navbar-nav">
                <a class="nav-link @classeMenuPrincipal" asp-page="/Index">
                    WorkBlock
                </a>
                <a class="nav-link @classeMenuAdministrator" asp-page="/AdministratorCRUD/Index">
                    Administrador
                </a>
                <a class="nav-link @classeMenuEmployer" asp-page="/AdministratorCRUD">
                    Empregador
                </a>
                <a class="nav-link @classeMenuEmployee" asp-page="/Employee">
                    Funcionário
                </a>
                <a class="nav-link @classeMenuPontoBlock" asp-page="/PontoBlock">
                    Ponto
                </a>
                <a class="nav-link @classeMenuPontoBlockReports" asp-page="/PontoBlockReports">
                    Relatórios
                </a>
            </div>
        </div>
    </div>
</nav>