@{
    var model = Model.ToString();
    var classeMenuPrincipal = (string)model == "WorkBlockApp.Pages.Index" ? "active" : "";
    var classeMenuAdministrator = model.Contains("Administrators") ? "active" : "";
    var classeMenuEmployer = model.Contains("Employers")  ? "active" : "";
    var classeMenuEmployee = model.Contains("Employees")  ? "active" : "";
    var classeMenuPontoBlock = model.Contains("PontoBlock")  ? "active" : "";
    var classeMenuPontoBlockReports = model.Contains("PontoBlockReports")  ? "active" : "";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container container-fluid">
        <a class="navbar-brand" href="/">WorkBlockApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <div class="navbar-nav">
                <a class="nav-link @classeMenuPrincipal" asp-page="/Index">
                    WorkBlock
                </a>
                <a class="nav-link @classeMenuAdministrator" asp-page="/Administrators/Index">
                    Administrador
                </a>
                <a class="nav-link @classeMenuEmployer" asp-page="/Employers">
                    Empregador
                </a>
                <a class="nav-link @classeMenuEmployee" asp-page="/Employees">
                    Funcionário
                </a>
                <a class="nav-link @classeMenuPontoBlock" asp-page="/PontoBlock">
                    Ponto
                </a>
                <a class="nav-link @classeMenuPontoBlockReports" asp-page="/PontoBlockReports">
                    Relatórios
                </a>
            </div>
        </div>
    </div>
</nav>