@page
@model Employees.Index
@{
    var colaboradores = Model.EmployeesList;
    ViewData["Title"] = "Colaboradores";
    ViewData["Subtitle"] = "Lista de Colaboradores";
}

<header class="d-flex justify-content-between align-items-center">
    <div>
        <h1 class="text-primary">@ViewData["Subtitle"]</h1>
    </div>
    <div>
        <a asp-page="/Employees/Create" class="btn btn-primary"> <i class="bi bi-plus-square"></i>&nbsp; Cadastrar</a>
    </div>
</header>
<hr>

@if (colaboradores != null && colaboradores.Count > 0)
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Carteira</th>
            <th>PIS</th>
            <th>Empregador</th>
            <th>Ações</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var employee in colaboradores)
        {
            var pisFormatado = Util.FormatCNPJ.Format(employee.Pis);

            <tr>
                <td>@employee.Nome</td>
                <td>@employee.Carteira.Substring(0, 5)...@employee.Carteira.Substring(@employee.Carteira.Length - 5)</td>
                <td>@pisFormatado</td>
                <td>@await Model.GetNomeEmpregador(employee.Empregador)</td>
                <td>
                    <a asp-page="/Employers/Update" asp-route-carteira="@employee.Carteira" class="btn btn-secondary btn-sm">
                    <i class="bi bi-pencil-square"></i>&nbsp;Alterar
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <p>Não há nenhum colaborador cadastrado.</p>
}